//@each $breakpoint in map-keys($grid-breakpoints) {
//	@include media-breakpoint-up($breakpoint) {
//		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//
//
//
//		// Some special margin utils
//		.m#{$infix}-auto  { margin:        auto !important; }
//		.mt#{$infix}-auto { margin-top:    auto !important; }
//		.mr#{$infix}-auto { margin-right:  auto !important; }
//		.mb#{$infix}-auto { margin-bottom: auto !important; }
//		.ml#{$infix}-auto { margin-left:   auto !important; }
//		.mx#{$infix}-auto {
//			margin-right: auto !important;
//			margin-left:  auto !important;
//		}
//		.my#{$infix}-auto {
//			margin-top:    auto !important;
//			margin-bottom: auto !important;
//		}
//	}
//}

@each $prop, $abbrev in (margin: m, padding: p) {
	@each $size, $lengths in $spacers {
		$length-x: map-get($lengths, x);
		$length-y: map-get($lengths, y);

		.#{$abbrev}-#{$size}  { #{$prop}:        $length-y $length-x !important; }
		.#{$abbrev}t-#{$size} { #{$prop}-top:    $length-y !important; }
		.#{$abbrev}r-#{$size} { #{$prop}-right:  $length-x !important; }
		.#{$abbrev}b-#{$size} { #{$prop}-bottom: $length-y !important; }
		.#{$abbrev}l-#{$size} { #{$prop}-left:   $length-x !important; }
		.#{$abbrev}x-#{$size} {
			#{$prop}-right: $length-x !important;
			#{$prop}-left:  $length-x !important;
		}
		.#{$abbrev}y-#{$size} {
			#{$prop}-top:    $length-y !important;
			#{$prop}-bottom: $length-y !important;
		}

		.m-auto  { margin:        auto !important; }
		.mt-auto { margin-top:    auto !important; }
		.mr-auto { margin-right:  auto !important; }
		.mb-auto { margin-bottom: auto !important; }
		.ml-auto { margin-left:   auto !important; }
		.mx-auto {
			margin-right: auto !important;
			margin-left:  auto !important;
		}
		.my-auto {
			margin-top:    auto !important;
			margin-bottom: auto !important;
		}
	}
}