@mixin line-height() {
	line-height: $base-line-height / $base-font-size;
}

.btn {
	@include button-base;
	@include line-height;
	outline: none;
	border: 0;
	padding: 0;
	transform: translate(0, 0);
	background: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: $color-gray-lighten;
	font-weight: 600;
	text-transform: uppercase;

	&:focus,
	&:hover,
	&:active {
		color: $color-gray-lighten;
	}

	&[disabled] {
		color: rgba($color-gray-light, .7);
		cursor: not-allowed;
		background-color: rgba($color-gray-lighten, .1);
	}

	&-primary,
	&-default {
		padding: rem(8px) rem(12px);
	}

	&-sm {
		padding: rem(5px) rem(8px);
		padding-top: rem(8px);
		font-size: rem(12px);
	}

	&-block {
		width: 100%;
		display: block;
	}

	&-primary {
		background-color: $color-gray-light;

		&:hover {
			background-color: darken($color-gray-light, 5%);
		}

		&:active {
			background-color: darken($color-gray-light, 10%);
		}
	}

	&-default {
		background-color: transparent;

		&:hover {
			background-color: rgba($color-gray-lighten, .1);
		}

		&:active {
			background-color: rgba($color-gray-light, .1);
		}
	}

	// TODO: find kind solution
	.icon {
		align-self: baseline;
	}

	&-icon {
		width: 40px;
		height: 40px;
		padding: 8px;

		border: 0;
		border-radius: 50%;
		color: $color-gray-light;

		// TODO: find kind solution
		.icon {
			align-self: center;
		}

		&:hover,
		&:active,
		&:focus {
			color: rgba($color-gray-light, .8);
		}

		&:active {
			background-color: rgba($color-gray-light, .1);
		}
	}
}