.chat {
	display: flex;
	flex-flow: row nowrap;

	height: 100%;
	overflow: hidden;
	margin: rem(20px) 0;


	&--content {
		flex: 1;
		display: flex;
		flex-flow: row nowrap;

		&--main,
		&--aside {

		}

		&--main {
			flex: 8;
			padding-right: rem(15px);
		}

		&--aside {
			flex: 4;
			padding-left: rem(15px);
			border-left: 1px solid $border-color;
		}
	}

	&--no-room {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&__select-message {
			padding: rem(3px) rem(7px);
			//border-radius: rem(20px);
			background-color: rgba($color-gray, .4);
		}
	}


	&--contacts {
		height: 100%;
		overflow-y: hidden;

		display: flex;
		flex-flow: column nowrap;
		align-content: stretch;

		&--bar {
			width: 100%;
			min-height: rem(60px);
			margin-bottom: rem(30px);
			background-color: darken($color-gray, 1%);
		}

		&--list {
			flex: 1;
			overflow-y: auto;

			&__item {
				display: flex;
				margin-bottom: rem(15px);
				background-color: $color-gray;
			}
		}
	}

	&--contact {
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		color: $color-gray-lighten;
		padding: rem(10px) rem(20px);

		&.active,
		&:active {
			background-color: rgba($color-dark, .5);
		}

		&:hover {
			background-color: rgba($color-dark, .3);
		}

		&:focus,
		&:hover,
		&:active {
			color: $color-gray-lighten;
		}

		&--avatar {
			margin-right: rem(10px);
		}

		&--content {
			flex: 1 0 48%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;

			&__username {
				font-size: rem(14px);
			}

			&__chat-message {
				max-width: 300px;
				p {
					@include truncate;
				}
			}
		}

		&--meta {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			align-items: center;

			&__time {
				display: block;
			}

			&__unread {

			}
		}
	}



	&--room-window {
		height: 100%;
		overflow-y: hidden;

		display: flex;
		flex-flow: column nowrap;
		align-content: stretch;


		&--messages {
			height: 100%;
			overflow-y: hidden;

			display: flex;
			flex-flow: column nowrap;
			align-content: stretch;

			&--bar {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-around;
			}

			&--list {
				flex: 1;
				overflow-y: auto;
				will-change: transform;

				&__item {
				}
			}
		}
	}


	&--message {
		display: flex;
		flex-flow: row nowrap;
		max-width: rem(400px);
		margin-bottom: rem(10px);

		&--avatar {
			align-self: flex-end;
			margin-right: rem(10px);
			min-width: rem(30px);
		}

		&--content {
			display: flex;
			flex-flow: row wrap;

			padding: rem(4px) rem(7px);
			border-radius: rem(5px);
			background-color: $color-gray;

			.own & {
				background-color: darken($color-gray, 5%);
			}

			.selected & {
				background-color: rgba($color-brand, .7);
			}


			&__time {
				font-size: rem(12px);
				color: $color-gray-light;
				margin-top: rem(7px);
				margin-left: auto;
				padding-left: rem(7px);

				.selected & {
					color: $color-white;
				}
			}

			&__status {
				font-size: rem(12px);
				position: relative;
				margin-top: rem(7px);
				margin-left: rem(7px);
				color: rgba($color-brand, 1);

				.selected & {
					color: $color-brand;
				}

				.read {
					position: absolute;
					left: rem(5px);
				}
			}

			&__body {
				color: $color-white;
				word-break: break-all;
				overflow-wrap: break-word;
				word-wrap: break-word;
				hyphens: auto;
			}
		}

		&.repeated {
			margin-bottom: rem(4px);
		}
	}

	&--input-field {
		flex: 6;

		//	TODO: fast markup
		textarea.form-control {
			width: 100%;
			height: 100%;
			resize: none;
		}
	}
}