.contacts {
	padding: 16px 0;

	&-wrapper {
		background-color: white;
	}

	&-list {
		.item {
			cursor: pointer;

			&:hover {
				transition: all .2s ease-in-out;
				background-color: transparentize(black, .9);
			}

			i {
				font-size: $font-size-h5;
			}
		}
	}
}

.wide-search {
	padding: 16px 0;
	background-color: white;

	.form-group {
		margin: 0;

		.form-control {
			font-size: $font-size-h4;
			border: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
		}
	}
}