.drawer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $drawer-width;
	height: 100%;
	z-index: 10;
	overflow: hidden;
	padding-top: $main-header-height;
	padding-bottom: 61px;
	will-change: transform;
	background-color: $color-gray-dark;

	&--wrapper {
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}
}

.drawer-navigation {

	&--list {
	}

	&--link {
		color: rgba($color-gray-lighten, .8);
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;

		min-height: 40px;
		padding: 0 30px;


		&.active,
		&:active,
		&:hover,
		&:focus {
			color: rgba($color-white, .8);
		}

		&.active {
			background-color: rgba(darken($color-dark, 20%), .1);
		}

		&:hover {
			background-color: rgba($color-gray-light, .1);
		}

		> i {
			margin-right: 15px;
		}
	}
}