.page-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	font-size: $font-size-lg;
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	background-color: transparentize($white, .1);

	.navigation {
		line-height: 1;

		&-head {
			.item {
				color: transparentize($gray-dark, .3);
				font-weight: bold;
				display: inline-block;
				line-height: 1.4;
				text-transform: uppercase;

				&:not(:last-child) {
					margin-right: 15px;
				}

				&:hover,
				&.active {
					color: $gray-dark;
				}
			}
		}
	}
}