.macro {

	&-profile {
		padding: 10px 30px 10px 30px;
		border-bottom: 1px solid #f3f3f3;
	}

	&-avatar {
		max-width: 75px;
		overflow: hidden;
		margin-right: 15px;
		margin-bottom: 10px;
		border-radius: 50%;
		text-align: center;

		&.editable {
			cursor: pointer;
			position: relative;

			&:after {
				content: "Edit image";
				display: flex;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				color: $white;
				align-items: center;
				justify-content: center;
				background-color: transparentize(black, .7);
				transition: all 0.2s ease-in-out;
			}

			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}

	&-username,
	&-description {
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&-username {
		color: transparentize($gray-dark, .3);
		font-size: $font-size-h6;
		font-weight: bold;

		&:hover {
			color: $gray-dark;
		}
	}

	&-description {
		color: transparentize($gray-dark, .3);
		font-weight: normal;
	}
}