.panel {

	&-header {
		width: 100%;
	}

	&-content {
		display: flex;

		&--main,
		&--aside {
			margin: rem(20px) 0;
		}

		&--main {
			flex: 2 1 0;
		}

		&--aside {
			flex: 1 1 0;

			border-left: 1px solid $border-color;
			margin-left: rem(15px);
			padding-left: rem(15px);
		}
	}

	&-footer {
		width: 100%;
	}
}

