$color-dark: #101010 !default;
$color-gray-dark: #141414;
$color-gray: #303030;
$color-gray-light: #606060;
$color-gray-lighten: #c8c8c8 !default;
$color-white: #fff !default;

$color-brand: #cfae54 !default;
$color-danger: #e62117 !default;
$color-success: #27e640 !default;

$border-color: rgba($color-gray, .4) !default;

$base-font-color: $color-gray-lighten !default;
$base-background-color: $color-dark !default;

$base-font-family: 'Open Sans', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 14px !default;
$base-line-height: 20px !default;


$drawer-width: 290px !default;
$main-header-height: 71px !default;

$container-width: 1170px !default;


$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
		0: (
				x: 0,
				y: 0
		),
		1: (
				x: ($spacer-x * .25),
				y: ($spacer-y * .25)
		),
		2: (
				x: ($spacer-x * .5),
				y: ($spacer-y * .5)
		),
		3: (
				x: $spacer-x,
				y: $spacer-y
		),
		4: (
				x: ($spacer-x * 1.5),
				y: ($spacer-y * 1.5)
		),
		5: (
				x: ($spacer-x * 3),
				y: ($spacer-y * 3)
		)
) !default;